<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_sewing">

    <application
        android:allowBackup="true"
        android:icon="@drawable/galit_desing"
        android:label="Sewing queue management"
        android:roundIcon="@drawable/img_galit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyCustomDialogFragment"></activity>
        <activity android:name=".CloseEvents" />
        <activity android:name=".MassagesActivity" />
        <activity android:name=".ActivityCancelEvent" />
        <activity android:name=".graphActivity" />
        <activity android:name=".statusEvents" />
        <activity android:name=".waitingToConfirmationActivity" />
        <activity android:name=".AllTheEventsOfClient" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".Prices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".First_page"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>